:root {
  --first-color: #eb2427;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000000;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body:has(.menu_open){
  overflow: hidden;
}
@font-face {
  font-family: Montserrat-Black;
  src: url("./fonts/Montserrat-Black.otf");
  font-display: swap;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./fonts/Montserrat-Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("./fonts/Montserrat-Medium.otf");
  font-display: swap;
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./fonts/Montserrat-SemiBold.otf");
  font-display: swap;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("./fonts/Montserrat-Regular.otf");
  font-display: swap;
}
/* Utility classes start */
.inner_mainbox {
  display: grid;
  grid-template-columns: 20% 1fr;
  transition-duration: 0.7s;
  height: 100vh;
}
.inner_mainbox.toggled-class {
  display: grid;
  grid-template-columns: 3% 1fr;
  transition-duration: 0.7s;
}
/* .toggled-class .toggle-button img {
  transform: rotate(180deg);
} */
.toggled-class .inner_left {
  width: 3%;
}
.inner_left {
  padding: 30px 0 0 0;
  background-color: #ffffff;
  grid-column: 1/2;
  position: fixed;
  width: 20%;
  transition-duration: 0.7s;
  height: 100%;
  z-index: 99;
  box-shadow: 8px 0px 12px #dee6ec;
}
.inner_right {
  padding: 20px 0px 0px 0px;
  background-color: #ebeff2;
  grid-column: 2/3;
  height: 100%;
}
.sidemenu_main {
  position: relative;
  width: 100%;
  height: 100%;
}
.toggle-button {
  position: absolute;
  width: 25px;
  right: -25px;
  top: 9%;
  cursor: pointer;
}
.toggle-button img {
  transition-duration: 0.5s;
}
.sidemenu_heading h3 {
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-family: Montserrat-SemiBold;
  line-height: normal;
  color: #000000;
  margin: 0;
}
.sidemunu_submenu_listing ul li a {
  font-size: 12px;
  line-height: normal;
}
.sidemenu_mainbox {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
  height: 100%;
}
.sidemenu_mainbox::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

.sidemenu_mainbox::-webkit-scrollbar
{
	width: 4px;
	background-color: #ffffff;
}

.sidemenu_mainbox::-webkit-scrollbar-thumb
{
	background-color: #c4c8cd;
}
.sidemenu_mainbox .accordion-button {
  padding: 0;
  background-color: #ffffff;
  color: #ffffff;
}
.sidemenu_listing {
  display: grid;
  grid-template-columns: 18px 1fr;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  position: relative;
}
.sidemenu_mainbox .accordion-flush>.accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border: 0;
}
.sidemenu_mainbox .accordion-button:focus {
  box-shadow: unset;
}
.sidemenu_mainbox .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23c4c8cd' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
  background-size: 15px;
}
.sidemenu_mainbox .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23c4c8cd' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}
.sidemunu_submenu_listing ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidemunu_submenu_listing ul li {
  position: relative;
  padding: 0 0 0 18px;
}
.sidemunu_submenu_listing ul li a {
  color: #000000;
}
.sidemunu_submenu_listing ul li::after {
  content: "";
  position: absolute;
  background-image: url("../../public/images/service-center/right-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
}
.sidemunu_submenu_listing ul li.heighlight::after {
  background-image: url("../../public/images/service-center/right-red-icon.svg");
}
.sidemunu_submenu_listing ul li.heighlight a {
  color: var(--first-color);
  font-family: Montserrat-SemiBold;
}
/* .sidemenu_mainbox .accordion {
  --bs-accordion-bg: #dee6ec;
  --bs-accordion-border-color: transparent;
} */
.sidemenu_mainbox .accordion-body {
  padding: 10px;
  background-color: #dee6ec;
  border-radius: 12px;
  margin: 10px 0px 10px 0px;
  position: relative;
}
.sidemenu_mainbox .accordion-body::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #dee6ec;
  left: 15%;
  top: -8px;
  transform: rotate(45deg);
}
.toggled-class .sidemenu_heading {
  transition-duration: 0.7s;
}
.toggled-class .sidemenu_heading {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}
.toggled-class .accordion-item:hover .accordion-body {
  display: block;
}
.toggled-class .accordion-body {
  background-color: var(--first-color);
  position: absolute;
  width: 200px;
  left: 30px;
  margin: -30px 0 0 0;
  z-index: 999;
  display: none;
  border: 0;
}
.toggled-class .heighlight {
  background-color: #ffffff;
}
.toggled-class .sidemenu_mainbox .accordion-button::after {
  display: none;
}
.toggled-class .sidemenu_mainbox .accordion-button:not(.collapsed)::after {
  display: none;
}
.sidemenu_mainbox .accordion-button:not(.collapsed) {
  box-shadow: unset;
}
.inner_main_heading h1 {
  font-family: Montserrat-Bold;
  font-size: 22px;
  line-height: normal;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
}
.breadcrumb {
  margin: 0 0 30px 0;
  font-size: 12px;
}
.breadcrumb-item.active {
  color: var(--first-color);
  font-family: Montserrat-Bold;
}
.sidemenu_logobox {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #c4c8cd;
}
/* Utility classes ends */
/* Header start */
.header_mainbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0 50px;
  background-color: #e3eaf0;
}
.header_right_listing {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_imagebox {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.profile_imagebox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.service_center_logo {
  width: 140px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 40px 0 0 40px;
}
.service_center_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_profile_namebox h1 {
  color: #737373;
  font-family: 'Montserrat-Medium';
  font-size: 25px;
  margin: 0;
}
.header_profile_namebox h1 span {
  font-family: Montserrat-Black;
  color: #000000;
}
/* Header ends */
/* Booking management - New booking page start */
.book_driver_box {
  margin: 20px 50px 0 50px;
  background-color: #ffffff;
  padding: 15px 30px;
  border-radius: 16px;
  position: relative;
}
.book_driver_box::after {
  content: "";
  position: absolute;
  left: 8%;
  bottom: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.book_driver_heading h2 {
  font-size: 18px;
  font-family: Montserrat-Bold;
  margin: 0;
}
.book_driver_para p {
  font-size: 14px;
}
.new_booking_form_mainbox {
  padding: 0 50px;
}
.form_heading h2 {
  font-family: Montserrat-Medium;
  font-size: 25px;
  color: #000000;
}
.form_listing_red .form_heading h2 span {
  color: var(--first-color);
}
.form_heading h2 span {
  color: #000000;
  font-family: Montserrat-Bold;
}
.form_line {
  width: 200px;
  height: 1px;
  background-color: #c4c8cd;
}
.form_heading_box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form_listing {
  margin: 40px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form_listing.form_listing_with_bg {
  padding: 20px;
  background-color: #dee6ec;
  border-radius: 16px;
}
.form_listing .submite_btn {
  margin: 0 0 0 0;
}
/* rating start */
.rate {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
  justify-content: start;
}
.rate:not(:checked) > input {
  display: none;
}
.rate:not(:checked) > label {
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #eb2427;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #eb2427;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #eb2427;
}
/* rating ends */
/* Booking management - New booking page ends */
/* Booking management - Booking list page start */
.filter_heading_mainbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter_form_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
  gap: 20px;
}
.detail_contact_box {
  display: flex;
  align-items: center;
}
.detail_contact_button {
  display: flex;
  background-color: var(--first-color);
  line-height: normal;
  align-items: center;
  gap: 5px;
  padding: 4px 10px;
  border-radius: 20px;
  color: #ffffff;
  font-family: 'Montserrat-Bold';
}
.detail_contact_button:hover {
  color: #ffffff;
}
tbody, td, tfoot, th, thead, tr {
  border-style: dashed;
}
.driver_booking_main .expanded_tr td {
  column-count: 1;
}
.driver_booking_main .expanded_tr td .flex-column div {
  border-bottom: 0 !important;
}
.driver_booking_main .expanded_tr td .flex-column div:nth-child(3),
.driver_booking_main .expanded_tr td .flex-column div:nth-child(10) {
  border-bottom: 1px solid #dee6ec !important;
  margin: 0 0 10px 0;
  padding: 6px 0 16px 0;
}
.driver_booking_main .expanded_tr td .flex-column div {
  padding: 6px 0;
}
/* Booking management - Booking list page ends */

/* Login page start */
/* .main_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(62deg, rgb(245,245,245,0.6),rgb(255,80,91,0.6));
} */
.login_mainbox {
  display: grid;
  grid-template-columns: 1fr 480px;
  border-radius: 12px;
  position: relative;
  z-index: 10;
}
.login_formbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px 80px;
}
/* .login_imgbox {
  background-color: var(--first-color);
  display: flex;
  height: 100%;
  align-items: end;
  border-radius: 12px 0 0 12px;
  position: relative;
  z-index: 10;
}
.login_imgbox::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 30px;
  height: 30px;
  background-color: var(--first-color);
} */
.login_form_heading h1 {
  font-family: Montserrat-SemiBold;
  font-size: 20px;
  text-align: center;
}
.login_form_sub_heading h2 {
  font-family: Montserrat-Bold;
  font-size: 30px;
  line-height: normal;
  text-align: center;
}
.login_form_sub_heading h2 span {
  color: var(--first-color);
}
.login_form_para p {
  font-size: 14px;
  margin: 10px 0 10px 0;
}
.form_group:not(:last-child) {
  margin: 0 0 10px 0;
}
.form_group:last-child input {
  border: 0;
  background-color: var(--first-color);
  color: #ffffff;
  font-family: Montserrat-Medium;
  padding: 8px;
  border-radius: 6px;
}
.form_group:last-child {
  margin: 30px 0 0 0;
}
.form_group input {
  width: 100%;
  padding: 10px 0 10px 5px;
  border: 0;
  border-bottom: 2px solid #f2f2f2;
  line-height: normal;
  grid-column: 2/-1;
}
.form_group input::placeholder {
  font-size: 14px;
}
.form_group input:focus {
  border: 0;
  outline: none;
  border-bottom: 2px solid var(--first-color);
}
.form_group:last-child input:focus {
  border-bottom: 0;
}
/* .form_group input:last-child {
  border: 0;
} */
.form_group:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 20px 0 10px 0;
}
.form_group:nth-child(3) > * {
  width: auto;
  margin: 0;
  color: #000000;
  font-size: 14px;
}
.login_form {
  margin: 20px 0 0 0;
}
.form_group {
  display: grid;
  align-items: center;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-columns: 15px 1fr 1fr;
}
.form_icon {
  display: inline-flex;
}
input[type="checkbox"] {
  accent-color: var(--first-color);
  cursor: pointer;
}
/* Login page ends */
/* Add service center page start */
.inner_form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.inner_form_group.inner_form_group_submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 1/-1;
}
.add_service_formbox form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 30px;
  row-gap: 10px;
}
.inner_form_group input,
.inner_form_group select,
.inner_form_group textarea {
  font-size: 12px;
  position: relative;
  z-index: 10;
}
.inner_form_group label {
  font-size: 12px;
  font-family: Montserrat-Medium;
}
.inner_form_group .form-control {
  padding: 10px 10px;
  background-color: #f6f8f9;
}
.add_service_formbox {
  padding: 30px;
  border: 1px solid #657eae40;
  background-color: #ffffff;
  border-radius: 12px;
}
.submite_btn {
  padding: 8px 30px;
  border: 0;
  background-color: var(--first-color);
  width: fit-content;
  font-family: Montserrat-Medium;
  margin: 10px 0 0 0;
  color: #ffffff;
  border-radius: 6px;
  line-height: normal;
}
.close_btn {
  padding: 8px 30px;
  border: 1px solid #cccc;
  background-color: #f6f8f9;
  width: fit-content;
  font-family: Montserrat-Medium;
  font-size: 12px;
  /* margin: 10px 0 0 0; */
  color: #000000;
  border-radius: 6px;
  display: inline-flex;
  line-height: normal;
}
.inner_form_group span,
.service_form_heading span {
  color: red;
  font-family: 'Montserrat-Regular';
}
.service_form_heading {
  grid-column: 1/3;
  line-height: normal;
  font-size: 14px;
  font-family: Montserrat-Bold;
  border-bottom: 1px solid #dee2e6;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
.service_form_heading_second {
  margin: 20px 0 10px 0;
}
.erro_message {
  font-size: 10px;
  color: red;
  grid-column: 2/-1;
}
.down_arrow_btn {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 999;
}
/* Add service center page ends */
/* List service center page start */
.filter_heading_btnbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter_btn .submite_btn {
  padding: 6px 30px;
  margin: 0;
  line-height: normal;
}
.filter_heading_btnbox {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dee2e6;
}
.filter_heading_btnbox .service_form_heading {
  font-size: 14px;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.data_listing_box {
  margin: 0 50px 50px 50px;
}
.filter_formbox form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
}
.filter_formbox {
  padding: 20px 0 0 0;
}
.filter_formbox .inner_form_group.inner_form_group_submit {
  grid-column: 1/-1;
}
.filter_data_table {
  margin: 10px 0 0 0;
}
.filter_data_table th,
.filter_data_table td {
  font-size: 12px;
}
.action_btns button {
  border: 0;
  outline: none;
  padding: 0;
  background-color: unset;
}
.action_btns button:nth-child(2) {
  margin: 0 10px;
}
.expanded_tr td {
  column-count: 2;
  gap: 20px;
}
/* .expanded_tr td .flex-column {
  gap: 10px;
} */
/* .heighlight {
  background-color: #ffffff;
  color: #ffffff;
  padding: 0px 0px 0px 30px!important;
  border-radius: 6px;
} */
.expanded_tr td {
  padding: 20px;
}
.expanded_tr strong {
  font-weight: bolder;
  margin: 0 5px 0 0;
}
.expanded_tr td .flex-column div {
  padding: 10px 0;
}
.expanded_tr td .flex-column div:not(:last-child) {
  border-bottom: 1px dotted #cccc;
}
.filter_data_table thead tr th {
  background-color: #dee6ec;
  color: #000000;
  font-family: Montserrat-SemiBold;
}
.filter_data_table .table>:not(caption)>*>* {
  padding: 12px 10px;
}
.action_btns {
  display: flex;
  gap: 8px;
}
/* List service center page ends */
/* Rolls and Permissons start */
.inner_form_group_checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}
.checkbox_formbox form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.checkbox_formbox .service_form_heading {
  grid-column: 1/-1;
}
.checkbox_formbox .inner_form_group_submit {
  grid-column: 1/-1;
}
.rolls_list_main .filter_formbox form .inner_form_group:first-child {
  width: fit-content;
}
/* Rolls and Permissons ends */
/* Notification page start */
.css-hlgwow {
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}
.css-13cymwt-control {
  border-radius: 6px !important;
  border-color: #dee2e6 !important;
  min-height: unset !important;
}
.css-1xc3v61-indicatorContainer {
  padding: 6px 8px !important;
}
.add_notification_service_center_main .checkbox_formbox form {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.css-t3ipsp-control {
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}
.css-1nmdiq5-menu {
  background-color: #ffffff!important;
  z-index: 9999!important;
}
/* Notification page ends */
/* Setting page start */
.setting_logos {
  width: 100%;
  height: 150px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 0 20px 0;
}
.setting_logos img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Setting page ends */
/* Brand start */
.add_brand_name .inner_form_group.inner_form_group_submit {
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
}
.brand_list_main .filter_formbox form{
  max-width: 50%;
}
/* Brand ends */
/* Profile Management pages start */
.profile_add_bulk_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_heading_add_button_box {
  display: flex;
  gap: 5px;
  align-items: center;
}
.bulk_upload_btn {
  background-color: #ffffff;
  color: #000000;
}
/* Profile Management pages ends */
/* New login form start */
.login_imgbox {
  width: 100%;
  height: 100vh;
}
.login_imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form_group.login_form_submit_btnbox {
  display: flex;
  margin: 20px 0;
}
.form_group.login_form_submit_btnbox input {
  background-color: var(--first-color);
  color: #ffffff;
}
.forgot_password_link {
  text-align: center;
}
.forgot_password_link p a {
  color: var(--first-color);
  font-family: Montserrat-Bold;
  font-size: 14px;
}
/* New login form ends */
/* Forgot password page start */
.forgot_password_main {
  height: 100%;
  background-color: #ebeff2;
}
.forgot_pass_mainbox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot_pass_listing {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 2px 12px #ccc;
}
.forgot_password_main .form_group {
  margin: 0;
}
.forgot_pass_heading h1 {
  font-family: Montserrat-Bold;
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px 0;
}
.forgot_pass_heading h1 span {
  color: var(--first-color);
}
.forgot_pass_para {
  text-align: center;
  font-size: 14px;
}
.forgot_password_main .form_group {
  margin: 20px 0 0 0;
}
.forgot_password_main .error {
  grid-column: 2 / -1;
  font-size: 12px;
  color: var(--first-color);
}
/* Forgot password page ends */
/* Notification list start */
.notification_accordion_mainbox {
  padding: 40px 50px 40px 50px;
}
.notification_accordion_mainbox .accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notification_accordion_mainbox .accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #dee6ec;
}
.notification_accordion_mainbox .accordion-button:focus {
  box-shadow: none;
}
.notification_accordion_mainbox .accordion-button {
  gap: 10px;
  line-height: normal;
  font-family: 'Montserrat-Medium';
  font-size: 14px;
}
.notification_accordion_mainbox .accordion-body {
  font-size: 14px;
}
.notification_accordion_mainbox .accordion-button {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 80px 20px;
  height: 50px;
  padding: 0 15px 0 0;
}
.notification_date {
  font-size: 12px;
  color: #707070;
}
.notification_icons {
  height: 100%;
  background-color: #e3eaf0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled-input {
  background-color: #e4e2e2; /* Light gray background */
  color: #7a7a7a; /* Dark gray text */
  cursor: not-allowed;
}

/* Notification List ends */